ion-tab-bar {
  background: linear-gradient(to bottom, #ff8700, #ff500f);
}
ion-tab-button {
  background: linear-gradient(to bottom, #ff8700, #ff500f);
}

ion-label {
  color: white;
  font-weight: 400;
}

.hydrated {
  visibility: inherit;
  color: white;
}

.collo {
  color: red;
}
