.back {
  margin: 10px;
  height: 24px;
  width: 24px;
}

ion-button {
  width: 84vw;
  h3 {
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}
.img-login {
  height: 25vh;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

.img-login-2 {
  position: absolute;
  height: 31vh;
  width: 100%;
  top: 69%;
}
