<ion-icon class="back" name="arrow-back-outline" routerLink='/login'></ion-icon>
<ion-content>

  <div class="container-login">
    <h2>Redefinir Senha</h2>
    <form>
      <ion-item style="margin-bottom: 4vh;">
        <ion-label position="floating">Email
        </ion-label>
        <ion-input placeholder="Digite seu email para recuperação" [(ngModel)]="email"
          [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-button color="warning" (click)="reset()">
        <h3>Enviar</h3>
      </ion-button>
    </form>
  </div>
</ion-content>