.back {
  margin: 10px;
  height: 24px;
  width: 24px;
}

ion-button {
  width: 84vw;
  h3 {
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.container-login {
  margin: 0vh 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

h2 {
  margin-bottom: 9vh;
  margin-left: 19.5vw;
  letter-spacing: 1.5px;
}
